version: "3.8"

services:
  app:
    image: mcr.microsoft.com/devcontainers/typescript-node:18-bullseye
    volumes:
      - ..:/workspace:cached
    command: sleep infinity

    depends_on:
      - postgres-db
    ports:
      - 3000:3000

  postgres-db:
    image: postgres:15
    restart: unless-stopped
    volumes:
      - postgres-data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "admin"
      POSTGRES_PASSWORD: "supersecretpassword"
      POSTGRES_DB: "bombeiros_pi"
    ports:
      - 5432:5432

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
    ports:
      - 9090:9090
    depends_on:
      - app

volumes:
  postgres-data:
